.scroll-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    display: none;
}

.scroll-top a {
    font-size: 20px;
    background: #000;
    padding: 10px 15px;
    color: #fff;
}